<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet", href="{{ url_for('static', filename='css/main.css')}}">
    <title>Family recipes App</title>
</head>
<body>
    <h2>Future site for logging family recipes</h2>
</body>
</html>