<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Family Recipe App</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Family Recipes App</h1>

    This site describes our favorite family recipes!

    <h2>Breakfest Recipes</h2>
    <h2>Lunch Recipes</h2>
    <h2>Dinner Recipes</h2>
    <h2>Dessert Recipes</h2>
    
</body>
</html>